@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: RedHatDisplay;
    src: url(fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
}

:root {
    --primary-color: transparent;
    --secondary-color: transparent;
}

html, body, * {
    font-family: Inter;
    box-sizing: border-box;
}

.orange {
    color: var(--primary-color);
}

.white-bold {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.align-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.text-center {
    text-align: center;
}