html, body {
    overflow-x: hidden;
    background-color: #17171D;
    color: white
}

button, a.button {
    height: 45px;
    line-height: 45px;
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: .5s background-color;
}

button i, a.button i {
    vertical-align: middle;
    margin: auto 5px auto 0;
}

button:hover, a.button:hover {
    background-color: var(--secondary-color);
}

button:disabled {
    background-color: var(--secondary-color);
}

main {
    max-width: 700px;
    padding: 5vh 25px;
}

.option-box {
    padding: 25px 25px;
    background-color: #212129;
    border-radius: 10px;
}

@media only screen and (max-width: 420px) {
    main {
        padding: 10vh 8px;
    }
}
@media only screen and (max-width: 385px) {
    .option-box {
        padding: 25px 0px;
    }
}

.option-box:not(:first-child) {
    margin-top: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

#info {
    display: none;
    margin: 25px 0;
    color: lightgray;
}

.search {
    margin-top: 35px;
}

p {
    font-size: 13px;
}

input.anitrex-input {
    background-color: #17171D;
    outline: none;
    color: white;
    height: 45px;
    border-radius: 10px;
    padding: 0 15px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.search > #set-token {
    margin-top: 25px;
    display: none;
}

.right-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

#update-list-button {
    height: 45px;
    width: 45px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #17171D;
    outline: none;
    border: none;
    transition: .5s background-color;
    display: none;
}
#update-list-button:hover {
    background-color: #212129;
}

#update-list-button > i {
    margin: auto;
    font-size: 25px;
}

button:disabled {
    cursor: default;
}

#user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

div#info-data {
    display: flex;
    align-items: center;
    gap: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #212129, #17171D, #212129);
    margin: 25px 0;
}

.input-group {
    margin-top: 25px;
}
.input-group > input {
    margin-top: 15px;
}

.color {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#filter-list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter {
    display: flex;
    justify-content: space-between;
    background-color: rgba(23, 23, 29, .4);
    border-radius: 10px;
    align-items: center;
    padding: 0 0 0 15px;
}

.filter-remove-button {
    background-color: transparent;
    color: white;
    border: none;
}
.filter-remove-button:hover {
    background-color: #17171D;
    color: var(--secondary-color);
}
input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    width: 60px;
    height: 45px;
    border-radius: 10px;
    padding: 0;
    outline: none;
    cursor: pointer;
}
::-webkit-color-swatch-wrapper {
    padding: 0;
}
::-webkit-color-swatch{
    border: 0;
    border-radius: 10px;
}

::-moz-color-swatch,
::-moz-focus-inner{
    border: 0;
    border-radius: 10px;
}

::-moz-focus-inner{
    padding: 0;
}

.color-picker-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
#color-code {
    cursor: pointer;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #17171D #212129;
}

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
}

  *::-webkit-scrollbar-track {
    background: #212129;
}

  *::-webkit-scrollbar-thumb {
    background-color: #17171D;
    border-radius: 4px;
    border: 2px solid #212129;
}