body {
    background-color: #212129;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

main#popup {
    margin: 0;
    padding: 0;
    width: 400px;
    max-height: 600px;
    background-color: #212129;
}

main#popup > header {
    display: flex;
    padding: 15px;
}

main#popup > footer {
    width: 100%;
    position: relative;
    bottom: 0;
}

main#popup > footer > #load-more-button {
    width: 100%;
    height: 45px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
    cursor: pointer;
    transition: background-color .5s;
}
main#popup > footer > #load-more-button > i {
    transition: transform 0s;
}
main#popup > footer > #load-more-button:hover {
    background-color: var(--secondary-color);
}
main#popup > footer > #load-more-button:hover > i {
    transform: scale(1.2);
    transition: transform 0.3s ease-out;
}

main#popup > footer > #current-anime-container {
    height: 150px;
    width: 100%;
    background-color: #17171D;
}

.anitrex-input {
    border: none;
    outline: none;
    background-color: #17171D;
    color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    height: 45px;
    padding: 0 15px;
}
.anitrex-input::-webkit-input-placeholder {
    font-style: italic;
}
.anitrex-input:-moz-placeholder {
    font-style: italic;  
}
.anitrex-input::-moz-placeholder {
    font-style: italic;  
}
.anitrex-input:-ms-input-placeholder {  
    font-style: italic; 
}

.anitrex-button {
    height: 45px;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    background-color: var(--primary-color);
    font-size: 16px;
    flex-grow: 1;
    cursor: pointer;
}

#search-results {
    padding: 0;
    color: white;
}

#search-results > .anime-result {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 15px;
}

#search-results > .anime-result:not(:first-child) {
    margin-top: 15px;
}

#search-results > .anime-result > .anime-result-image {
    height: 120px;
    width: 85px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.anime-result > .anime-result-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 41, .9);
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    display: none;
}
.anime-result > .anime-result-overlay > .overlay-button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 15px;
    line-height: 50px;
    align-items: center;
    transition: .5s color;
}
.anime-result > .anime-result-overlay > .overlay-button:hover:enabled {
    color: var(--primary-color);
}
.anime-result > .anime-result-overlay > .overlay-button:disabled {
    cursor: default;
    color: gray;
}
.anime-result:hover .anime-result-overlay {
    display: flex;
}

.anime-result p, .anime-result h4 {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.anime-result h2.anime-title {
    max-width: 250px;
}
.anime-result p {
    margin: 6px 0;
    padding: 0px;
    color: lightgray;
}
.anime-title {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.anime-title-english {
    color: lightgray;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
.anime-score {
}
.anime-score > i {
    color: var(--primary-color);
}
p.anime-format {
    margin-top: 10px;
}
p.anime-genres {
    color: white;
    display: flex;
    align-items: center;
}
p.anime-genres> span.is-anime-adult {
    display: block;
    width: fit-content;
    font-size: 12px;
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
    padding: 3px;
    margin-right: 5px;
}
#loader {
    margin: 0 auto;
    border: 5px solid #17171D;
    border-top: 5px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none;
}

#loader-mini {
    margin: 0 0;
    border: 2px solid white;
    border-top: 2px solid black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 1s linear infinite;
    display: none;
}

#current-anime-control-error {
    color: lightcoral;
    font-size: 18px;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.text-center {
    text-align: center;
}

#current-anime-container {
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: white;
    gap: 15px;
}
#current-anime-container > .anime-result-image {
    height: 120px;
    width: 85px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
#current-anime-container > #current-anime-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#current-anime-romaji-title {
    font-size: 14px;
    padding: 0;
    max-width: 250px;
    white-space: wrap;
}
#current-anime-english-title {
    color: lightgray;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    max-width: 250px;
}
#current-anime-english-title, #current-anime-info > p {
    margin: 6px 0;
    padding: 0px;
    color: lightgray;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#current-anime-episodes-controls {
    width: 100%;
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 0;
    margin: 0 0 15px 0;
}
#current-anime-titles {
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.episode-button {
    border: none;
    outline: none;
    background-color: #212129;
    color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
}
.episode-button:hover:enabled > i {
    color: var(--primary-color);
}
.episode-button:disabled {
    cursor: default;
    background-color: #17171D;
    color: grey;
}
span#current-anime-watched-episodes, span#current-anime-total-episodes {
    font-weight: bold;
}
span#current-anime-watched-episodes {
    color: var(--primary-color);
}

main#popup > div#anime-list {
    width: 100%;
    background-color: #212129;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 400px;
    margin: 0;
    padding: 15px 15px 80px 15px;
    display: none;
}

details > summary {
    cursor: pointer;
}

.anime-list-list-name {
    font-size: 15px;
    font-weight: bold;
    columns: white;
    text-transform: uppercase;
}
.anime-list-list-length {
    margin-left: 5px;
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, .8);
}

details.anime-list-details:not(:first-child) {
    margin-top: 35px;
}

.anime-list-list-content {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
    position: relative;
}

.anime-list-anime-image {
    width: 40px;
    height: 56px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.anime-list-anime-titles > * {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.anime-list-anime-titles > div:first-child {
    font-weight: 600;
    font-size: 13px;
}
.anime-list-anime-titles > div:last-child {
    opacity: .6;
}

.anime-list-overlay {
    height: 100%;
    position: absolute;
    align-items: center;
    top: 0;
    justify-content: end;
    right: 10px;
    background-color: #17171D;
    border-radius: 10px;
    display: none;
}
.anime-list-overlay > .anime-list-episodes-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.anime-list-list-content:hover {
    background-color: #17171D;
    border-radius: 10px;
}
.anime-list-list-content:hover > *:not(.anime-list-overlay) {
    opacity: .5;
}
.anime-list-list-content:hover > .anime-list-overlay {
    display: flex;
}




/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #17171D #212129;
}

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
}

  *::-webkit-scrollbar-track {
    background: #212129;
}

  *::-webkit-scrollbar-thumb {
    background-color: #17171D;
    border-radius: 4px;
    border: 2px solid #212129;
}