@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: RedHatDisplay;
    src: url(fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
}

html, body, * {
    font-family: Inter;
}